/*
  Tipografía para el sitio
*/
@font-face{
  font-family: "Avenir";
  src: url("/font/AvenirNextLTPro-Regular.ttf");
}
@font-face{
  font-family: "Avenir Medium";
  src: url("font/AvenirLTStd-Medium.otf");
}
@font-face{
  font-family: "Avenir Bold";
  src: url("font/AvenirNextLTPro-Bold.ttf");
}
@font-face{
  font-family: "Antonio";
  src: url("font/Antonio-Regular.ttf");
}
@font-face{
  font-family: "Antonio Bold";
  src: url("font/Antonio-Bold.ttf");
}