
/*=========================================
              S O C I O S
=========================================*/

#socios h4{
  font-family: Antonio Bold;
  color: #5baf3c
}
#socios img{
  height: 70px;
}
